sudo: required
before_script:
  - sleep 15
  - elasticsearch -v
  - curl http://localhost:9200/
services:
  - elasticsearch
  - mongodb
language: node_js
node_js:
  - "node"
  - "6"
  - "5"
addons:
  apt:
    sources:
      - elasticsearch-2.x
    packages:
      elasticsearch
